/* Common Styles */
* {
  margin: 0;
  box-sizing: border-box;
}
/* Importing custom fonts */
@font-face {
  font-family: "Recoleta";
  src: url(/fonts/Recoleta-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Recoleta Regular";
  src: url(/fonts/Recoleta-Regular.ttf) format("truetype");
  font-weight: normal;
}
body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #0d0e10;
}
/* Slide up animation on scroll */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active1 {
  transform: translateY(0);
  opacity: 1;
}

.boldreg {
  font-size: 20px;
  font-weight: 600;
}
.mtop {
  margin-top: 20px;
}
/* Page container */
.main-container {
  width: 85%;
  margin: auto;
}
/* Fontawesome icons styles */
.icons {
  font-size: 13px;
  padding: 0 2px;
}
.fregular {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}
.title {
  padding: 12px 16px;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #fff, rgba(254, 207, 72, 0.15));
  /* background-color: rgb(0, 0, 0, 0.7); // alpha= 0.7 the same as opacity */
  /* position: absolute; */
  top: 0;
  left: 0;
}
.btnlink {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  /* border-bottom: 1px solid #d9dceb6b; */
  line-height: 2;
}
.frecoleta-title {
  font-family: "Recoleta";
  font-size: 48px;
}
/* input placeholder style*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 16px;
}

header {
  margin-top: 50px;
}

/* Book a demo Section */
.book {
  width: 100%; /* Full width */
  height: 50px;
  background-color: #ffcf48;
  position: fixed; /* Set the section to fixed position */
  /* position: -webkit-sticky; Safari */
  top: 0; /* Position the section at the top of the page */
  z-index: 10;
}

/* Place text in the middle of the element */
.book p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
.book a {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-left: 8px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.book a:hover {
  border: 0;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .book {
    width: 100%;
  }
  .book p {
    text-align: center;
    top: 50%;
    left: 45%;
    font-size: 16px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .book {
    width: 100%;
  }
  .book p {
    width: 299px;
    text-align: left;
    top: 50%;
    left: 10%;
    top: 50%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    font-size: 15px;
  }
}
/* End of book Section */

/* Navbar Styles */
.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.topnav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

/* Styling website logo */
.topnav .logo {
  display: flex;
  width: auto;
  justify-self: start; /* aligns the logo at the beginning of the container*/
  align-items: center;
}
.topnav .logo .logoimg {
  width: 194px;
  height: 50px;
  padding: 0;
}
.topnav a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align: auto;
  font-size: 16px;
}
.topnav a .logoimg {
  width: 100%;
  height: 100%;
}
.topnav .links {
  display: flex;
  justify-self: center; /* aligns the logo at the center of the container*/
}
/* Add an active class to highlight the current page */
.topnav .active {
  font-weight: 600 !important;
  color: #000;
}

/* Styling nav buttons */
.topnav .buttons {
  display: flex;
  justify-content: end;
}
.topnav .buttons button {
  background-color: #0d0e10;
  color: #fff;
  font-weight: bold;
  padding: 20px 25px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
}
.topnav .buttons button:hover {
  background-color: #ffcf48;
  color: #000;
  transition: 0.5s;
}

/* dropdown styles */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header li {
  float: inline-start;
}

header li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
}

li.dropdown {
  display: inline-block;
}
/* Product dropdown */
.dropdown .row {
  justify-content: space-around;
}
.dropdown-content .im {
  width: 40px;
  height: 40px;
}
.dropdown-content .management {
  display: flex;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  clear: right;
  width: 70%;
  min-width: 160px;
  max-width: 1280px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  box-shadow: 0 21px 37px 0 rgb(0 0 0 / 8%);
  z-index: 9;
}
.dropdown .content1 {
  top: 48%;
  left: 50%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
  font-size: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 3s;
}
.dropdown-content .drpleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 25px;
}

.dropdown-content .frecoleta {
  font-family: "Recoleta", Georgia, sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.dropdown-content .fregular {
  line-height: 1.6;
}
.dropdown-content .drpright {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
}
.management div:hover {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}
/* End of product dropdown */

/* Resources dropdown */
.dropdown .content2 {
  top: 33%;
  left: 50%;
  width: 100%;
}
.dropdown .item-content {
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  width: 33%;
}
.dropdown .dropdown-content .item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  transition: all 350ms ease;
  padding: 32px;
}
.dropdown .dropdown-content .item:hover {
  box-shadow: 0 10px 100px 0 rgb(0 0 0 / 10%);
}
.dropdown-content .item .square {
  width: 50px;
  height: 50px;
  background-color: #ffcf48;
  border-radius: 8px;
}
.dropdown-content .mainp {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}
.dropdown-content .contentp {
  font-weight: 300;
  max-width: 250px;
  color: #989595;
}
/* End of resourses dropdown */
/* Pricing dropdown */
.dropdown .content3 {
  max-width: 792px;
  top: 39%;
  left: 50%;
}
.dropdown .content3 .row {
  justify-content: space-between;
}
.dropdown .content3 .item-content1 {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.content3 .item-content1 .square1 {
  width: 50px;
  height: 50px;
  background-color: #0d0e10;
  border-radius: 8px;
}
.content3,
.item-content1 .texts {
  padding: 10px 0;
}
.content3 .item-content1 .clk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding-top: 15px;
  font-weight: 700;
}
.item-content1 .clk .btn1 {
  border-bottom: 1px solid #d9dceb6b;
  line-height: 2;
}
.item-content1 .clk .btn1 img:hover {
  transition: ease 1s;
  rotate: -50deg;
}
/* End of Pricing dropdown */

/* Section 2 styling */
.description .left-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .description .row {
    align-content: space-around;
  }
  .description .left-content {
    width: 100%;
  }
  .description .right-content {
    width: 100%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .description .left-content {
    width: 100%;
  }
  .description .right-content {
    width: 100%;
  }
}
.left-content h1 {
  font-family: "Recoleta";
  font-size: 56px;
  margin-bottom: 12px;
}
.left-content .text-desc {
  color: #0d0e10;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 492px;
}
.left-content .desc-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left-content .desc-btns .not-shopify {
  margin-left: 25px;
}
.left-content .not-shopify .shop {
  color: #313131;
}
.left-content .not-shopify .btnlink {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #d9dceb6b;
  line-height: 2;
}
.left-content .not-shopify .btnlink:hover {
  border-bottom: 0;
  transition: ease 1s;
  cursor: pointer;
}
.left-content .not-shopify .btn1 img:hover {
  transition: ease 1s;
  rotate: -50deg;
}
.left-content .checkbox {
  display: flex;
  align-items: center;
  margin-top: 50px;
  max-width: 393px;
}
.left-content .checkbox .check1 {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
}
.left-content .checkbox .check1 p {
  max-width: 218px;
  margin-top: 10px;
  color: #313131;
}
.left-content .checkbox .check p {
  max-width: 180px;
}
/* left-content end */
.description .right-content {
  position: relative;
  width: 50%;
}
.description .right-content .hero1 {
  position: absolute;
  right: 17px;
  z-index: 2;
}
.description .right-content .hero2 {
  position: absolute;
  right: -24px;
  top: 100px;
  z-index: 3;
}
.description .right-content .hero3 {
  position: absolute;
  top: 422px;
  z-index: 3;
}

.description .right-content .hero4 {
  position: absolute;
  right: 0px;
  top: 479px;
  z-index: 1;
}
/* End of section 2 */

/* Section 3 Trusted brands */
.trustedBrands .brands-content {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 40px;
  padding: 88px;
  margin-top: 80px;
  text-align: center;
  /* animation: slide-up 2s; */
}
/* Slide up animation */
@keyframes slide-up {
  from {
    opacity: 0.2;
    transform: translateY(100%);
    /* transition: 0.5s ease; */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.trustedBrands .brands-content .bus {
  font-size: 48px;
  font-family: "Recoleta";
  margin-bottom: 20px;
}
.trustedBrands .brands-content .brands {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trustedBrands .brands-content .brands img {
  margin-right: 24px;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .trustedBrands .brands-content {
    padding: 60px;
  }
  .trustedBrands .brands-content .bus {
    font-size: 38px;
  }
  .trustedBrands .brands-content .brands {
    flex-wrap: wrap;
    flex-shrink: 0.5;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .trustedBrands .brands-content {
    padding: 36px;
  }
  .trustedBrands .brands-content .bus {
    font-size: 25px;
  }
  .trustedBrands .brands-content .brands {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .trustedBrands .brands-content .brands img {
    margin-bottom: 24px;
    margin-right: 0;
  }
}
/* End of section 3 */

/* Features section */
.features {
  margin-top: 80px;
  /* animation: slide-up 4s; */
}
.features .header {
  max-width: 800px;
  text-align: center;
  margin: auto;
  /* animation: slide-up 3s; */
}
.features .header .sub-head {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 18px;
  color: #0d0e10;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.features .header .head-feature {
  font-family: "Recoleta";
  font-size: 48px;
  line-height: 1.1;
  margin-top: 15px;
}
.features .features-list {
  margin-top: 80px;
  justify-content: center;
}
.features .features-list .wrapper {
  min-width: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
}
.features .features-list .feature-item {
  text-align: center;
}
.features .features-list .icon-img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ffcf48;
  text-align: center;
  margin: auto;
}
.features .feature-item p {
  font-weight: 600;
  max-width: 130px;
  margin-top: 15px;
  line-height: 1.5;
}
.features .list-content {
  width: 100%;
  justify-content: space-between;
  padding: 54px 111px;
  align-items: center;
}
.list-content .list-desc h2 {
  font-size: 42px;
  font-family: "Recoleta";
  margin-bottom: 10px;
}
.list-content .list-desc p {
  text-align: left;
  margin-bottom: 10px;
  max-width: 500px;
  color: #40454f;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .features .header .head-feature {
    font-size: 42px;
  }
  .features .features-list {
    margin-top: 80px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .features .list-content {
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .features .list-content .list-img {
    /* width: 100%; */
    /* justify-content: space-between; */
    /* padding: 54px 111px; */
    align-items: center;
    align-content: center;
  }
  .features .feature-item p {
    font-weight: 600;
    max-width: 130px;
    margin-top: 15px;
    line-height: 1.5;
  }
  .list-content .list-desc {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
  .list-content .list-desc p {
    text-align: center;
    margin-bottom: 10px;
    margin: auto;
    max-width: 500px;
    color: #40454f;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .features .list-content .list-img {
    align-items: center;
    align-content: center;
  }
  .list-content .list-desc {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
  .list-content .list-desc h2 {
    font-size: 30px;
    font-family: "Recoleta";
    margin-bottom: 10px;
  }
}
/* end features */

/* Customer section */
.customer-engage {
  margin-top: 100px;
  text-align: center;
  /* animation: slide-up 5s; */
  margin-bottom: 50px;
}
.customer-engage .column {
  align-items: center;
}
.customer-engage .text-content {
  max-width: 617px;
  /* justify-content: center; */
}
.customer-engage .text-content p {
  margin: 18px 0 50px 0;
  color: #40454f;
}
.customer-engage .numbers {
  border-top: 1px solid #b6b2b269;
  justify-content: space-around;
  width: 100%;
}
.customer-engage .numbers .returns {
  width: 33%;
  border-right: 1px solid #b6b2b269;
}
.customer-engage .numbers .num {
  font-size: 60px;
  margin-top: 34px;
  margin-bottom: 16px;
}
.customer-engage .numbers .borderless {
  border: 0;
}
.customer-engage .returns span {
  color: #40454f;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .customer-engage .text-content h2 {
    font-size: 42px;
  }
  .customer-engage .text-content {
    max-width: 600px;
    /* justify-content: center; */
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .customer-engage .row {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .customer-engage .text-content {
    max-width: 617px;
    /* justify-content: center; */
  }
  .customer-engage .text-content h2 {
    font-size: 30px;
  }
  .customer-engage .text-content p {
    margin: 18px 0 50px 0;
    color: #40454f;
    font-size: 16px;
  }

  .customer-engage .numbers {
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    /* align-items: center; */
  }

  .customer-engage .numbers .num {
    font-size: 40px;
    margin-top: 34px;
    margin-bottom: 16px;
  }
  .customer-engage .numbers .returns {
    width: 33%;
    border-right: 0;
  }
  .customer-engage .returns span {
    color: #40454f;
    max-width: 90px;
  }
}
/* End customer section */

/* Role section */
.roles {
  background-color: #ffcf48;
  /* text-align: center; */
}
.roles .texts {
  padding-top: 100px;
  text-align: center;
}
.roles .texts span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.roles .main-content {
  width: 60%;
  margin: auto;
  justify-content: space-around;
  margin-top: 60px;
}
.main-content .left {
  justify-content: space-between;
  align-items: flex-start;
}
.main-container .left .role-desc {
  margin-top: 28px;
  margin-bottom: 28px;
}
.main-container .left .role-desc p {
  margin-top: 25px;
}
.main-content .main-content .left .icondesc {
  margin-bottom: 30px;
}
.main-content .left .icondesc span {
  margin-left: 15px;
  color: #0d0e10;
  font-weight: 700;
  font-size: 24px;
}
.main-content .left .icondesc div i {
  font-size: 24px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .roles .main-content {
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-align: left;
  }
  .main-content .left {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .main-container .left .role-desc {
    margin-top: 39px;
    margin-bottom: 35px;
    width: 800px;
    border: 1px solid #927831;
    padding: 30px;
    border-radius: 12px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .roles .texts h2 {
    font-size: 30px;
  }
  .roles .main-content {
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-align: left;
  }
  .main-content .left {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
  }
  .main-container .left .role-desc {
    margin-top: 39px;
    margin-bottom: 35px;
    width: 400px;
    border: 1px solid #927831;
    padding: 30px;
    border-radius: 12px;
  }
}

/* End Role Section */

/* Section Customer Reviews */
.creviews {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 100px;
}
.creviews .up-content,
.creviews .down-content {
  margin-top: 55px;
  width: 4000%;
}
.creviews .up-content .up-items,
.creviews .down-content .down-items {
  margin-right: 40px;
  text-align: left;
  border-radius: 12px;
  max-width: 600px;
  padding: 56px 28px 50px;
  box-shadow: 17px 17px 200px 0 rgb(64 69 79 / 6%);
  transform: translateX(
    0%
  ); /* Animation start from left to right of the screen */
  /* Add the animation */
  animation: move-left 30s linear infinite;
  /* infinite make reapeat the animation indefinitely */
}
.up-content .row {
  align-content: space-around;
  align-items: center;
}
.creviews .up-content .up-items p,
.creviews .down-content .down-items p {
  margin-top: 25px;
  color: #40454f;
}
.item-content .item-title {
  margin-left: 25px;
}
.item-content .item-title h5 {
  margin-bottom: 10px;
  font-size: 18px;
}

.creviews .down-content .down-items {
  animation: move-right 30s linear infinite; /* Animation start from right to left of the screen */
  transform: translateX(-100%);
}

/* Create the animation */
@keyframes move-left {
  to {
    transform: translateX(-100%);
  }
}
@keyframes move-right {
  to {
    transform: translateX(100%);
  }
}
/* Growth section */
.growth {
  position: relative;
}
.growth .growth-content {
  /* border: 2px solid #000; */
  width: 90%;
  position: absolute;
  margin: auto;
  left: 5%;
  bottom: -172px;
  background-color: #ffcf48;
  border-radius: 40px;
  padding: 80px;
  margin-top: 80px;
  text-align: center;
  /* animation: slide-up 2s; */
  align-items: center;
}
.growth .growth-content .text-growth {
  font-size: 40px;
}
.growth .growth-content p {
  max-width: 86%;
  margin: auto;
  margin: 20px 0;
}
.growth .growth-content button {
  width: 13%;
  height: 60px;
  background-color: #0d0e10;
  color: #fff;
  font-weight: bold;
  /* padding: 20px 25px; */
  text-align: center;
  border-radius: 10px;
  border: 2px solid #000;
  cursor: pointer;
}
.growth .growth-content button:hover {
  background-color: #ffcf48;
  color: #000;
  transition: 0.5s;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .growth {
    position: static;
  }
  .growth .main-container {
    width: 100%;
  }
  .growth .growth-content {
    position: static;
    /* border: 2px solid #000; */
    width: 100%;
    background-color: #ffcf48;
    border-radius: 0;
    padding: 80px;
    margin-top: 80px;
    text-align: center;
    /* animation: slide-up 2s; */
    align-items: center;
  }
  .growth .reveal {
    position: static;
    transform: translateY(0);
    opacity: 1;
    transition: 0s;
  }
  .growth .growth-content p {
    max-width: 100%;
    margin: 44px 0px;
  }

  .growth .growth-content button {
    width: 28%;
    height: 60px;
    background-color: #0d0e10;
    color: #fff;
    font-weight: bold;
    /* padding: 20px 25px; */
    text-align: center;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .growth {
    position: static;
  }
  .growth .main-container {
    width: 100%;
  }
  .growth .growth-content {
    position: static;
    /* border: 2px solid #000; */
    width: 100%;
    background-color: #ffcf48;
    border-radius: 0;
    padding: 80px;
    margin-top: 80px;
    text-align: center;
    /* animation: slide-up 2s; */
    align-items: center;
  }
  .growth .reveal {
    position: static;
    transform: translateY(0);
    opacity: 1;
    transition: 0s;
  }
  .growth .growth-content p {
    max-width: 100%;
    margin: 44px 0px;
  }

  .growth .growth-content button {
    width: 44%;
    height: 60px;
    background-color: #0d0e10;
    color: #fff;
    font-weight: bold;
    /* padding: 20px 25px; */
    text-align: center;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
  }
}

/* End of growth section */
.br {
  width: 100vw;
  height: 40vh;
  background-color: #fff;
}
/* Footer Styling */
footer {
  width: 100%;
  /* height: 100vh; */
  background-color: #0d0e10;
}
footer .fcontent {
  padding-top: 295px;
  justify-content: space-around;
  border-bottom: 1px solid #8b8b8b;
}
.fcontent .footer-left {
  justify-content: space-around;
}
.fcontent .footer-left .left-cont label {
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 25px;
}
.footer-left input[type="email"] {
  border: 1px none #000;
  border-radius: 12px;
  height: 38px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 23px;
  margin-right: 20px;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #fff;
  font-size: 16px;
}
.footer-left .btns button {
  height: 60px;
  background-color: #ffcf48;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 20px 25px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d0e10;
  cursor: pointer;
  font-size: 14px;
}
/* end of Left content */
.fcontent .footer-right .row {
  justify-content: space-around;
}
.fcontent .footer-right ul,
.footer-right a {
  color: #fff;
  list-style-type: none;
  max-width: 255px;
  font-size: 15px;
}
footer .footer-right ul li {
  margin: 15px 0;
}
.fcontent .footer-right .list .list-txtb,
.fcontent .footer-right .list .list-txtb a {
  font-size: 18px;
  font-weight: 600;
}
.fcontent .footer-right ul .link:hover {
  color: #8b8b8b;
}
footer .contentlast {
  overflow: hidden;
  padding-top: 40px;
  /* padding-bottom: 30px; */
  justify-content: space-between;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 16px;
  align-items: center;
  padding-bottom: 30px;
}
.contentlast p a {
  padding-left: 4px;
  color: #ffcf48;
}
.contentlast .media {
  margin-right: 30px;
}
.contentlast .media a {
  margin-left: 30px;
  transition: 0.3s;
}
.contentlast .media a:hover {
  transform: translate(0, -10px); /* animation: slide-footer 1s ease; */
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  footer .main-container {
    width: 100%;
  }
  footer .fcontent {
    flex-direction: column;
    padding-top: 130px;
  }
  footer .fcontent .footer-left {
    justify-content: space-around;
  }
  .fcontent .footer-left .link-list {
    margin-left: 50px;
  }
  footer .fcontent .footer-left img {
    margin-left: 50px;
  }
  .fcontent .footer-left .left-cont label {
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 25px;
    margin-top: 110px;
    margin-left: 50px;
  }
  .footer-left input[type="email"] {
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    width: 70%;
  }
  .fcontent .footer-right .row {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
  }
  .fcontent .footer-right .list {
    margin-top: 20px;
  }

  footer .contentlast {
    flex-direction: column;
    overflow: hidden;
    padding-top: 30px;
    /* text-align: left; */
    align-items: center;
  }
  .contentlast p {
    margin-bottom: 30px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  footer .main-container {
    width: 100%;
  }
  footer .fcontent {
    flex-direction: column;
    padding-top: 183px;
  }
  footer .fcontent .footer-left {
    justify-content: space-around;
  }
  footer .fcontent .footer-left img {
    margin-left: 38px;
  }
  .fcontent .footer-left .left-cont label {
    margin-top: 110px;
    margin-left: 38px;
  }
  .footer-left input[type="email"] {
    margin-left: 38px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    width: 50%;
  }
  .fcontent .footer-right .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .fcontent .footer-right .list {
    margin-top: 20px;
  }

  footer .contentlast {
    flex-direction: column;
    overflow: hidden;
    padding-top: 30px;
    /* text-align: left; */
    align-items: center;
  }
  .contentlast p {
    margin-bottom: 30px;
  }
}

/* footer end */
